.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 64;
    padding: 60px 30px 20px 20px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 100px 80px 100px 80px;   
}
.banner-container h5 {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0px;
}

.banner-container h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-primary {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

    /* Frame 2 */
    /* position: static; */
    width: 270px;
    height: 56px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 17px 34px 17px 34px;

    border-radius: 8px;
    background: rgb(0, 106, 80);
   
    margin-top: 0;
    margin-bottom: 90px;
    border: none;
    cursor: pointer;
}
/* .button:hover {
    background-color: orange;
} */
.img-1 {
    height: 329px;
    margin-bottom: 50px;
}