.body-bg-color {
    background-color: rgba(237, 237, 237, 0.618);
}
.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 64;
    padding: 60px 30px 20px 20px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 100px 80px 100px 80px;
}
.banner-container h5 {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0px;
}
.banner-container h1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-primary {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    width: 270px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin-top: 0;
    margin-bottom: 90px;
    border: none;
    cursor: pointer;
}
/* .button:hover {
    background-color: orange;
} */
.img-1 {
    height: 329px;
    margin-bottom: 50px;
}
.donate-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.donate-subtitle {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.amount-card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.amount-card {
    width: 230px;
    height: 120px;
    font-size: 32px;
    font-weight: 700;
    font-family: Fira Sans;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px
}
.card-2 {
    background-color: rgb(198, 228, 214);
}
.other-amount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wide-input-box {
    width: 75%;
    box-sizing: border-box;
    margin: 30px;
    border-color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
.donate-submit {
    text-align: center;
    padding: 15px 25px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    cursor: pointer;
}
.future-vision {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}
.future-vision-subtitle {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.future-vision-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.blue {
    background: rgba(84, 144, 245, 0.2);
    box-sizing: border-box;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    /* display: flex;
    flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 10; */
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
}
.btn-blue {
    width: 122px;
    height: 41px;
    background: rgb(84, 144, 245);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 11px 20px 11px 20px;
    margin: 0px;
}
.green {
    background: rgb(198, 228, 214);
    box-sizing: border-box;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    /* display: flex;
    flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 10; */
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
}
.btn-green {
    width: 122px;
    height: 41px;
    background: rgb(9, 161, 92);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 11px 20px 11px 20px;
    margin: 0px;
}
.yellow {
    background: rgb(247, 235, 207);
    box-sizing: border-box;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    /* display: flex;
    flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 10; */
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
}
.btn-yellow {
    width: 122px;
    height: 41px;
    background: rgb(255, 194, 57);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 11px 20px 11px 20px;
    margin: 0px;
}